@{
    ViewBag.Title = "Vente de Billets | Tous les spectacles.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Vente de Billets | Tous les spetacles</title>

    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
    <!--webfont-->
    <!-- dropdown -->
    <script src="~/Content/js/jquery.easydropdown.js"></script>
    <link href="~/Content/css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <!--js-->
</head>

<body>
    <div class="container">
        <div class="cart-top">
            <a href="@Url.Action("Index")">&lt;&lt; home</a>
        </div>

        <h1>All Shows here ! </h1>

    </div>

</body>
</html>
